body{
  font-family: 'Poppins', sans-serif;
  color: white;
}
nav{
  position: relative;
  padding: 0 15px;
}

.menu{
    list-style-type: none;
}

a{
  color: white;
  text-decoration: none;
}


.logo{
  position: absolute;
  list-style-type: none;
  font-size: 5vh;
  padding: 5px;
}

.item{
  padding: 5px;
  
}




/* Mobile */
@media (max-width : 767px) {

  .menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
  }
  .menu li a {
    display: block;
    padding: 15px 5px;
    text-decoration: none;
    
  }
  .toggle{
    order: 1;
    font-size: 16px;
    margin-left: 75vw;
  }
  .item{
    order: 2;
    width: 100%;
    text-align: center;
    display: none;
  }
  
  .active .item{
    display: block;
    
  }

  .item:not(.button) a:hover,
  .item a.hover::after {
    color:rgb(255, 255, 255);
  
  }
  
  .parallax {


    /* Set a specific height */
    min-height: 100vh; 
  
    margin-left: -1%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
  }
  .parallax .card {
    position: absolute;
    background: black;
    font-size: x-large;
    padding: 9%;
    margin-top: 58%;
    border: solid;
    border-color: white;
    border-width: 1vw;
    height: 38vh;
    width: 44vw;
    /* margin: 2%; */
  }
  
  .parallax .card .card_heading{
    font-size: 6vw;
    font-variant: small-caps;
    color: white;
    line-height: 6vh;

  }
  
  .parallax .card .card_heading .cardheading_content{
    font-size: 3vw;
    font-variant: normal;
    line-height: 3vh;
    padding-top: 2vh;
    /* padding: 5%; */
  
  }

}


/* 
  ##Device = Tablets, Ipads
*/

@media (min-width: 768px) and (max-width: 1024px) {

  .menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
    padding-top: 0.8vh;
  }
  .menu li a {
    display: block;
    padding: 15px 5px;
    font-size: 2vh;
    text-decoration: none;
  }
  .toggle{
    display: none;
  }
  /* .item{
    width: 100%;
    text-align: center;
  } */
  
  .active .item{
    display: block;
    
  }
  
  .item:not(.button) a:hover,
  .item a.hover::after {
    color:rgb(255, 255, 255);
    transform: scale3d(1.7, 1.7, 1.7);
  
  }
  
  .parallax {
    /* Set a specific height */
    min-height: 100vh; 
  
    margin-left: -1%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
  }
  .parallax .card {
    position: absolute;
    background: black;
    font-size: x-large;
    padding: 9%;
    margin-top: 58%;
    border: solid;
    border-color: white;
    border-width: 1vw;
    height: 38vh;
    width: 44vw;
    /* margin: 2%; */
  }
  
  .parallax .card .card_heading{
    font-size: 6vw;
    font-variant: small-caps;
    color: white;
    line-height: 6vh;

  }
  
  .parallax .card .card_heading .cardheading_content{
    font-size: 3vw;
    font-variant: normal;
    line-height: 3vh;
    padding-top: 2vh;
    /* padding: 5%; */
  }  
}


/* 
  ##Device = Laptops, Desktops
*/

@media (min-width: 1025px) {

  .menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center; 
    padding-top: 0.8vh;
  }
  .menu li a {
    display: block;
    padding: 15px 5px;
    text-decoration: none;
    font-size: 3vh;
    font-style: bold;
    font-variant-caps: small-caps;
  }

  .toggle{
    display: none;
  }
  .item{
    position: relative;
    display: block;
    width: auto;
  }
  
  
  .active .item{
    display: block;
    
  }

  .item:not(.button) a:hover,
  .item a.hover::after {
  color:rgb(255, 255, 255);
  transform: scale3d(1.7, 1.7, 1.7);
  
  }
  
  .parallax{
    /* Set a specific height */
    min-height: 100vh; 
    margin-left: -1%;
    position: relative;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  
  }
  
  .parallax .card_heading{
    font-size: 6vw;
    font-variant: small-caps;
    color: white;
   text-align: center;
  }

  .arrow{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.arrow span{
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: 5px solid #06A8FF;
    border-right: 5px solid #06A8FF;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}
.arrow span:nth-child(2){
    animation-delay: -0.2s;
}
.arrow span:nth-child(3){
    animation-delay: -0.4s;
}
@keyframes animate {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
    }
}
  
}





/* splash screen */
.intro{
  position:fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: #161616;
  transition: 1s;
}

.logoheader{
  position: absolute;
  top:40%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #ffffff;
}

.intrologo{
  position: relative;
  display: inline-block;
  bottom: -20px;
  opacity: 0;

}

.intrologo.active {
  bottom: 0;
  opacity: 1;
  transition: ease-in-out 0.5s;
}

.intrologo.fade {
  bottom: 150px;
  opacity: 0;
  transition: ease-in-out 0.5s;
}




/* .parallax_1 {
  background-repeat: no-repeat;
  background-size: cover;
    background-color: transparent;
    background-position: 0px -31.5238px;
    background-image: url(//user-images.strikinglycdn.com/res/hrscywv4p/image/upload/c_limit,fl_lossy,h_1500,w_2000,f_auto,q_auto/10070/IMG_5195-1_qdl5cf.jpg);
    min-height: 657px;
    background-attachment: fixed;
} */



/* 
.leftcard {
  border: 2px;
  border-color: white;
  background: white;

  max-width: 430px;
  font-size: x-large;
  padding: 2% 4%;
}

.leftcard .leftcard_heading {
  font-size: 45px;
  font-variant: small-caps;
  padding-bottom: 5%;
  /* padding-top: -3%;
} */
